<div class="bg-white py-12">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl font-bold mb-4">About Us</h2>
        <p class="text-gray-600 mb-8 font-semibold">We are a passionate team dedicated to providing high-quality services and products to our customers. With years of experience in the industry, we strive for excellence and customer satisfaction.</p>
        <p class="text-gray-600 font-semibold">Our mission is to create outstanding experiences for our clients. We believe in creativity, innovation, and teamwork. Let us help you turn your ideas into reality.</p>
        <br><br>
        <img src="../../../assets//chef.jpg" alt="Description of the image" class="mx-auto max-h-80 mb-6">

        <!-- Additional Text -->
        <p class="text-gray-600 font-medium">Feel free to explore our website and discover amazing features.</p>
    </div>
    
</div>
<br>
<router-outlet></router-outlet>
